.one{
    background-color: orange;
    width: 100vw;
    height: 33.3vh;
}
.two{
    background-color: white;
    width: 100vw;
    height: 33.3vh;
}
.three{
    background-color: green;
    width: 100vw;
    height: 33.3vh;
}